/* Footer container */
#footer {
    
    padding: 2px;
    padding-left: 15px;

    background-color: var(--background-color);
    border-radius: var(--border-radius);
  /* List styling */

}
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Link styling */
  ul li {
    display: inline;
    margin-right: 20px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
